* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.page-bg {
    background-color: #001d73;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.char-selection-box {
    border: 5px #fffeba solid;
    margin-bottom: 20px;
    background-color: #40515e;
}

.dividing-line {
    border: 2px #fffeba solid;
}

.row {
    content: "";
    clear: both;
    display: table;
}

.arrow-row {
    width: 1200px;
    color: #fffeba;
    font-size: 100px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#char-name {
    padding: 20px 20px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

#char-description {
    padding: 20px 20px;
    font-size: 30px;
    color: #fff;
}